.button__store {
  padding: 13px 20px;
  background-color: #f2f2f2;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  color: #000;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.button__store:hover {
  background-color: #dadada;
}
