.filmsWrap {
  margin-bottom: 100px;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  row-gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
