.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.panel__title {
  font-size: 31px;
  font-weight: 700;
  color: #252525;
}

@media (max-width: 600px) {
  .panel__title {
    font-size: 22px;
  }
}

.link {
  background-color: #50509e;
  color: #fff !important;
  padding: 13px 20px;
  line-height: 16px;
  font-weight: 600;
  border-radius: 5px;
}
