.loadMore{
	padding: 13px 30px;
	background-color: #005382;
	color: #fff;
	border-radius: 5px;
	font-size: 17px;
	font-weight: 600;
}

.button__wrapper{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}