.title{
	font-size: 30px;
	font-weight: 700;
}

.title{
	margin-bottom: 40px;
}
.main_block{
	display: flex;
}
.toggle{
	height: 110px;
}
.showMore{
	width: 100%;
	display: flex;
	justify-content: center;
}