.buttonBack{
	font-size: 18px;
	font-weight: 500;
}

.wrapper{
	// padding: 40px 0;	
	background-color: #f4f4f4;
}
.filmWrapper{
	width: 100%;
}

.box__body{
	margin-top: 26px;

	@media(min-width: 768px){
		display: flex;
	}
}
.section__body{
	background-color: #fff;
	padding: 40px 40px;	
}

.fake{
	width: 250px;
	height: 400px;
	background-color: rgb(141, 219, 141);
}
.body{
	margin-bottom: 20px;
	&__poster{
		max-width: 100%;
		max-height: 100%;
		border-radius: 5px;
		position: relative;
		margin-right: 50px;
	}

	&__rating{
		position: absolute;
		top: 13px;
		left: 14px;
		background-color: #00a340;
		padding: 2px 8px;
		border-radius: 5px;
		color: #fff;
	}

	&__title{
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 20px;

		@media(max-width: 950px){
			font-size: 30px;
		}
	}
	&__secondTitle{
		font-size: 20px;
		color: #414141;
		font-weight: 300;
		margin-bottom: 25px;
		@media(max-width: 950px){
			font-size: 18px;
		}
	}
	&__buttons{
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		gap: 20px;
		@media(max-width: 792px){
			gap: 6px
		}
	}
}

.info{
	display: flex;
	&:not(:last-child){
		margin-bottom: 20px;
	};
	&__leftSide{
		flex: 0 0 170px;
	}
	&__rightSide{
		max-width: 600px;
	}
}

.image__container{
	width: 300px;
	height: 420px;
}