.fact{
	margin-bottom: 30px;
	color: #000;
	font-size: 17px;
	font-weight: 600px;
	border-bottom: 1px solid rgb(129, 129, 129);
	padding-bottom: 20px;
	a{
		color: rgb(129, 129, 129);
		border-bottom :1px solid rgb(129, 129, 129);
	}
}
.title{
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 40px;
}

