

.wrapper{
	background-color: #f4f4f4;
	height: 100%;
}
.filmWrapper{
	width: 100%;
}

.box__body{
	height: 100%;
	margin-top: 26px;
	@media(min-width: 768px){
		display: flex;
	}
}
.section__body{
	padding: 40px 0 100px 0;

}
.container{
	padding: 40px;
    background-color:#fff;
    height: 100%;
	margin: 0 auto;
	max-width: 1230px;
}

.body{
	margin-bottom: 20px;
	&__poster{
		max-width: 100%;
		max-height: 100%;
		border-radius: 5px;
		position: relative;
		margin-right: 50px;
	}

	&__rating{
		position: absolute;
		top: 13px;
		left: 14px;
		padding: 2px 8px;
		border-radius: 5px;
		color: #fff;
	}

	&__title{
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 20px;

		@media(max-width: 950px){
			font-size: 30px;
		}
	}
	&__secondTitle{
		font-size: 20px;
		color: #414141;
		font-weight: 300;
		margin-bottom: 25px;
		@media(max-width: 950px){
			font-size: 18px;
		}
	}
	&__buttons{
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		gap: 20px;
		@media(max-width: 792px){
			gap: 6px
		}
	}
}


.image__container{
	width: 300px;
	height: 420px;
}