.pagination{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	margin-bottom: 50px;
	&__prev, &__next{
		height: 100%;
		// color: rgb(34 34 34 / 19%);
		border: 1px solid rgb(34 34 34 / 19%);
		padding: 0 15px;
		
	}
	&__info{
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 20px;
		border-top: 1px solid rgb(34 34 34 / 19%);
		border-bottom: 1px solid rgb(34 34 34 / 19%);
	}
	[disabled]{
		color: rgba(34, 34, 34, 0.322);
	}
}