.input__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	gap: 20px;
}

.input{
	border: 1px solid rgba(34, 34, 34, 0.5);
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	margin-top: 6px;
}

.label{
	display: flex;
	flex-direction: column;
}
.box{
	margin-bottom: 45px;
}

.title{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}