.wrapper{
	width: 100%;
	height: auto;
	background: center / cover no-repeat  url('../../../../shared/assets/heroImg/heroImg.webp');
	background-position: top;
	margin-bottom: 100px;
}

.cards__body{
	display:grid;
	align-items: center;
	margin-bottom: 150px;
}

.main{
	&__body{
		max-width: 400px;
		padding: 110px 0;
		color: #fff
	}

	&__title{
		font-size: 40px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 40px;
		font-family: 'Montserrat', sans-serif;


	}
	&__description{
		font-size: 18px;
		margin-bottom: 40px;
		line-height: 25px;
	}
	&__button{
		padding: 13px 50px;
		background-color: rgb(51, 51, 134);
		font-size: 16px;
		font-weight: 500;
		border-radius: 5px;
	}
}

.button {
	padding: 13px 20px;
	background-color: rgb(80, 80, 158);
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 6px;
	color: #fff;
	transition: background-color 0.2s ease-in-out;
	&:hover{
		background-color: rgb(57, 57, 160);
	& .icon{
		transform: translateX(5px) rotate(180deg);
		}
	}
}
.icon{
	transition: transform 0.2s ease-in-out;
	transform: rotate(180deg);
	display: flex;
	align-items: center;
}

.arrow{
	stroke: #fff;
}