.box{
	display: flex;
	align-items: center;
	margin-top: 10px;
	gap: 5px;
	font-size: 17px;
}
.link{
	border-bottom: 1px solid #005382;
	color: #005382;
	font-weight: 500;
	
}
.title{
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 20px;
}
.wrapper{
	display: flex;
	gap: 30px;
}