.header__box{
	display: flex;
	align-items: center;
	min-height: 70px;
	z-index: 99;
	background-color: #141414
}
.block{
	display: flex;
	justify-content: space-between;
}
.wrapper{
	display: flex;
	padding: 0 40px;
}
.header__login_box{
	display: flex;
	align-items: center;
	color: #fff;
	justify-self: flex-end;
	color: #fff;
}
.header__login{
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	display: flex;
	align-items: center;
}
.empty{
	flex: 1;
}
.logo{
	display: flex;
	align-items: center;
	cursor: pointer;
	@media(max-width: 799px){
		display: none;
	}
}