.wrapper{
	background-color: #f4f4f4;
	height: 100%;
}
.container { 
		padding: 40px 40px 100px 40px;
		background-color:#fff;
		height: 100%;
		max-width: 1320px;
		width: 100%;
		margin: 0 auto;
}
.section{
	padding: 0 20px;
	height: 100%;
}
.block{
	display: flex;
	justify-content: space-between;
	@media(max-width: 1025px){
		display: block;
	};
}

.loader{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.filter__container{
	transition: left 0.2s ease-in-out;
	left: 0%;
	@media(max-width: 1025px){
		position: fixed;
		background-color: #fff;
		width: 100%;
		height: 100%;
		z-index: 99;
		top: 0;
		padding: 0 20px;
	}
}
.active{
	left: -100%;
}
.mobile__headerFilter{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	height: 50px;
	align-items: center;
	padding: 0 40px;
	@media(min-width: 1026px){
		display: none;
	};

	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: rgba(66, 66, 66, 0.315);
		left: 0;
		top: 50px;
	}
}
.box{
	width: 100%;
	display: flex;
	justify-content: end;
}

.addToLS{
	padding: 11px 13px;
	border-radius: 5px;
}