.cards{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 30px;
	row-gap: 90px;
	align-items: center;
	margin-bottom: 100px;
	align-items: flex-start;
}
.card{
	&__image{
		border-radius: 5px;
		background-color: #000;
		aspect-ratio: 2/3;
		.image{
			aspect-ratio: 2/3;
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
		margin-bottom: 9px;
	}
	&__title{
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 700;
	}
	&__substring{
		font-size: 18px;
	}
}