.buttonBack{
	font-size: 18px;
	font-weight: 500;
}

.wrapper{
	background-color: #f4f4f4;
	background-color: #fff;
	padding: 40px 40px;	
	height: 100%;
	max-width: 1320px;
	width: 100%;
 	margin: 0 auto;
}
.filmWrapper{
	width: 100%;
}

.container{
	background-color: #fff;
	padding: 40px 40px;	
	height: 100%;
	max-width: 1320px;
	width: 100%;
 	margin: 0 auto;
}

.body{
	&__rating{
		position: absolute;
		top: 13px;
		left: 14px;
		background-color: #00a340;
		padding: 2px 8px;
		border-radius: 5px;
		color: #fff;
	}
	&__buttons{
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		gap: 20px;
	}
}



