.block__menu{
	transition: all 0.15s ease;
	visibility: hidden;
	opacity: 0;
}
.menu{
	padding: 85px 25px 30px 25px;
	top: 0;
	transform: translateX(-25px);
	position: absolute;
	z-index: 3;
	background-color: #1f1f1f;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	&__list{
		width: 170px;
	}

	&__link{
		display: flex;
		align-items: center;
		color: #fff;
		&:not(:last-child){
			margin-bottom: 32px;
		}
	}

	&__item{
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		font-family: 'Montserrat'
	}
}
.open{
	visibility: visible;
	opacity: 1;
}
.link{
	display: flex;
	gap: 10px;
	align-items: center;
}
.icon{
	width: 16px;
	height: auto;
	aspect-ratio: 1/1;
}