.wrapper{
	background-color: #f4f4f4;
	height: 100%;
}
.container { 
		padding: 40px 40px 100px 40px;
		background-color:#fff;
		height: 100%;
		max-width: 1320px;
		width: 100%;
		margin: 0 auto;
}
.section{
	padding: 0 20px;
}
.block{
	display: flex;
	justify-content: space-between;
}