.cards{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 30px;
	row-gap: 90px;
	align-items: center;
	margin-bottom: 100px;
	align-items: flex-start;
	@media(max-width: 1170px){
		grid-template-columns: repeat(4,1fr);
	}
	@media(max-width: 970px){
		grid-template-columns: repeat(3,1fr);
	}
	@media(max-width: 799px){
		grid-template-columns: repeat(2,40%);
	}
	justify-content: center;
}