.register__body{
	max-width: 400px;
	gap: 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
}
.login{
	border: 1px solid #949494;
	padding: 14px 15px 14px 12px;
	font-size: 16px;
	width: 100%;
	border-radius: 5px;
}
.email__form{
	margin-bottom: 25px;
}
.password__form{
	margin-bottom: 20px;
}
.form__error{
	font-size: 12px;
	color: rgb(255, 0, 0);
}
.label__form{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
}
