.panel{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	&__title{
		font-size: 31px;
		font-weight: 700;
		color: rgb(37, 37, 37);
		@media(max-width: 600px){
			font-size: 22px;
		}
	}
}

.link{
	background-color: rgb(80, 80, 158);
	color: #fff !important;
	padding: 13px 20px;
	line-height: 16px;
	font-weight: 600;
	border-radius: 5px;
}