.submit{
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 11px 0;
	border: 2px solid rgb(80, 80, 158);
	color: rgb(80, 80, 158);
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	transition: background-color 0.3s ease;
	&:hover{
		background-color: rgb(80, 80, 158);
		color: #fff;
	}
}