.favorite, .notfavorite{
	background-color: #fff;
	font-size: 15px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 6px;
	color: rgb(80, 80, 158);
	transition: background-color 0.2s ease-in-out;
	&:hover{
		background-color: #dadada;
	}
}

.notfavorite{
	border: 2px solid #22222231;
	color: #000;
	&:hover{
		background-color: #dadada41;
	}
}

.favorite{
	border: 2px solid rgb(80, 80, 158);
	&:hover{
		background-color: rgb(80, 80, 158);
		color: #fff;
	}
	img{
		background-color: red;
	}
}

.button{
	display: flex;
	align-items: center;
}