@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

*{
  font-family: 'Montserrat'
}